body {
    background : #555;
}
.a {
    text-decoration:none;
    color:#FAFAFA;
}
.a:visited {
    color:#FAFAFA;
}
.titlebox {
    width: 1660px;
    height: 82px;
    margin: auto;
    padding: 5px 10px 5px 10px;
    background-color:#81BEF7;
}
.titleboxleft {
    width: 1460px;
    float:left;
}
.titleboxright {
    width: 200px;
    float:left;
}
.content {
    width: 1660px;
    height : auto ;
    margin: auto;
    background: white;
    padding: 10px;
    font-size :18px;
    line-height :200%;
    float: none;
    clear: both;
    overflow:auto;
    background-color:#F5F4F3;
}
.h1 {
    font-size:32px;
    text-align:left; 
    color:#FAFAFA;
}
.h1_right {
    text-align:right; 
}
.calbox {
    width: 392px;
    margin: 5px;
    padding: 5px;
    height: auto;
    float: left;
    border: solid;
    border-width: 1px;
    border-color: #AAA;
    border-radius:5px;
    position: relative;
    display:inline-block
}
.calbox2 {
    width: 1224px;
    vertical-align: top;
}
.calbox3 {
    float:left;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #AAA;
    margin-right: 3px;
}
.outputbox1 {
    width: 61px;
    margin: 0px 2px 5px 2px;
    float: left;
}
.select1 {
    width: 60px;
}
.select2 {
    width: 80px;
}
.select3 {
    width: 120px;
}
.select4 {
    margin-left:3px;
    margin-right:3px;
    width: 40px;
    margin-top:5px;
}
.label1 {
    height: 22px;
    font-size: 14px;
    vertical-align: middle;
}
.label2 {
    font-size: 12px;
    display: inline-block;
}
.label3 {
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
}
.label_star5{
    color: #FF8000;
}
.label_star4{
    color: #BF00FF;
}
.label_star3{
    color: #0080FF;
}
.label_star2{
    color: #04B431;
}
.selectbox {
    width: 60px;
    padding: 1px 5px 1px 5px;
    float: left;
}
.selectbox2 {
    width: 100px;
    padding: 0px 5px 0px 5px;
}
.input1{
    width:100px;
    height: 18px;
    padding: 0px;
}
.input2{
    width:56px;
}
.input3{
    width:35px;
    margin-left: 10px;
}
.readonly_input{
    width:80px;
    text-align:center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.button:hover {
    background-color: #3e8e41;
    color: white;
}
.button2 {
    margin-left: 10px;
    font-size: 14px;
}
.button3 {
    font-size: 14px;
    padding: 3px 5px;
    background-color: #f44336;
    border: 1px solid #B40404;
}
.button3:hover {
    background-color: #B40404;
}
.btn_search {
    margin: 25px 0px 0px 0px;
}
.searchbox {
    float:left;
    border: 1px solid #555;
    padding: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px; 
    border-radius:5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.searchbox:hover {
    background-color: #FFFFAA;
}
.shiplistbox {
    border: 1px solid #555;
    height: 60px;
    line-height:24px;
    padding: 0px;
    margin-right: 0px;
    margin-top: 4px;
    margin-bottom: 10px; 
    border-radius:5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
}
.shiplistbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.shiplistbox_div {
    line-height:24px;
    float: left;
    text-align:center;
}
.shiplistbox_div_reinforce {
    background-color: #CEE3F6;
    height: 100%;
}
.shiplistbox_div_actskill {
    background-color: #F6CECE;
    height: 100%;
}
.shiplistbox_div_passiveskill {
    background-color: #CEF6E3;
    height: 100%;
}
.itemsbox_div{
    width: 60px;
    line-height:24px;
    border-right: 1px solid #666;
}
.itembox_input{
    border:none;
    padding:0px;
}
.itembox_label {
    width: 100%;
    height: 24px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    text-align:center;
    border-bottom: 1px solid #666;
}
.color_reingroup {
    background-color: #F5DA81;
}
.color_reingroup2 {
    background-color: #F0F0C0;
}
.color_skillgroup1 {
    background-color: #81BEF7;
}
.color_skillgroup1_2 {
    background-color: #CEE3F6;
}
.color_skillgroup2 {
    background-color: #C2D636;
}
.color_skillgroup2_2 {
    background-color: #DEE9C7;
}
.color_np {
    background-color: #B6DDE8;
}
.color_np2 {
    background-color: #D7ECF2;
}